{% extends 'base.html.twig' %}

{# {% block title %}{% endblock %} #}

{% block body %}
    <h1>Курсы</h1>

    <div>
        {% for course in courses %}
            <div>
                <h2><a href="{{ path('app_course_show', {'id': course.id}) }}">{{ course.title }}</a></h2>
                <p>{{ course.description }}</p>
            </div>
        {% else %}
            <p>Курсы не найдены</p>
        {% endfor %}
    </div>

    <a href="{{ path('app_course_new') }}">Создать новый курс</a>
{% endblock %}
