{% extends 'base.html.twig' %}

{% block title %}Новый курс / StudyOn{% endblock %}

{% block body %}
    <h1>Создание нового курса</h1>

    {{ include('course/_form.html.twig') }}

    <a href="{{ path('app_course_index') }}">К списку курсов</a>
{% endblock %}
