{% extends 'base.html.twig' %}

{% block title %}Уроки / StudyOn{% endblock %}

{% block header %}/ Все уроки{% endblock %}

{% block body %}

    <div class="d-flex flex-column gap-3">
        {% for lesson in lessons %}
            <div class="d-flex flex-column border border-2 rounded p-4">
                <div class="fs-4 fw-semibold">{{ lesson.title }}</div>
                <div class="">{{ lesson.course.title }}</div>
                <div class="mt-2"><a href="{{ path('app_course_show', {'id': lesson.course.id}) }}" class="btn btn-outline-primary">Перейти к курсу</a></div>
            </div>
        {% else %}
            <div class="fs-4 fw-semibold p-4 text-center">
                Здесь пока нет уроков.
                <a href="{{ path('app_course_index') }}" class="text-decoration-none">Создайте уроки в курсах</a>.
            </div>
        {% endfor %}
    </div>
{% endblock %}

