{% extends 'base.html.twig' %}

{% block title %}Новый урок{% endblock %}

{% block header %}/ {{ lesson.course.title }} / Новый урок{% endblock %}

{% block body %}
    <div>
        <p class="fs-3 fw-semibold">Создание нового урока</p>

        {{ include('lesson/_form.html.twig', {'button_label': 'Создать'}) }}

        <a href="{{ path('app_course_show', {'id': lesson.course.id}) }}" class="btn btn-outline-secondary">
            Назад
        </a>
    </div>
{% endblock %}
